.design {

    font-weight: bolder;
    color: black;
    /* text-align: center; */
}

.box {
    font-weight: bolder;
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: burlywood;
    margin: auto;
}
