.eg {
    height: 600px;
    /* background-color: lavender; */
    font-size: 200px;
    color: black;
    /* padding-bottom: 10px; */
}
.abc{
    font-size: medium;
    font-weight: bold;


}